footer.footer.bg-dark
    .container
        span.text-muted Projet NodeJs Ynov Informatique IngéSup B3 - 2017/2018 par Thibault Buathier
<!-- Bootstrap core JavaScript -->
script(src="/static/js/tether.min.js")
script(src="/static/js/bootstrap.bundle.min.js")